# Credenciais
.env

# Modelo treinado — versionado no MLflow/DagsHub
#data/raw/
#data/processed/
#data/models/

# Dados e modelos (versionados via DVC, não Git)
data/raw/*
data/processed/*
data/models/*

# Permite os arquivos de rastreamento do DVC
!data/raw/.gitignore
!data/processed/.gitignore
!data/models/.gitignore
!data/raw/*.dvc
!data/processed/*.dvc
!data/models/*.dvc

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# MLflow
mlruns/

# Editores
.vscode/
.idea/
.DS_Store
*.log
